*.pyc
*.so
*.test
*.out

# goland
.idea/

# eclipse
*.classpath
*.project
*.settings

db/keyval/etcd/examples/phonebook/editor/editor
db/keyval/etcd/examples/phonebook/view/view
db/keyval/etcd/examples/phonebook/watcher/watcher
db/sql/cassandra/examples/simple/simple
logging/logrus/examples/basic/basic
logging/logrus/examples/custom/custom
logging/logrus/examples/http/http
messaging/kafka/examples/asyncproducer/asyncproducer
messaging/kafka/examples/consumer/consumer
messaging/kafka/examples/mux/mux
messaging/kafka/examples/syncproducer/syncproducer
rpc/rest/security/password-hasher/password-hasher

# vendor
/vendor/

